<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.mall.member.service.mapper.MemberStatisticsDataMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rainbow.mall.member.service.pojo.entity.MemberStatisticsData" id="memberStatisticsDataMap">
        <result property="id" column="id"/>
        <result property="activeQuantity" column="active_quantity"/>
        <result property="createDate" column="create_date"/>
        <result property="memberCount" column="member_count"/>
        <result property="newlyAdded" column="newly_added"/>
    </resultMap>


</mapper>