<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.mall.member.service.mapper.MemberWalletMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rainbow.mall.member.service.pojo.entity.MemberWallet" id="memberWalletMap">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="memberFrozenWallet" column="member_frozen_wallet"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberWallet" column="member_wallet"/>
        <result property="walletPassword" column="wallet_password"/>
    </resultMap>


</mapper>