<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.mall.member.service.mapper.MenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.rainbow.mall.member.service.pojo.entity.Menu" id="menuMap">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="description" column="description"/>
        <result property="frontRoute" column="front_route"/>
        <result property="icon" column="icon"/>
        <result property="level" column="level"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parent_id"/>
        <result property="path" column="path"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="title" column="title"/>
        <result property="frontComponent" column="front_component"/>
        <result property="permission" column="permission"/>
    </resultMap>


</mapper>